.login-fragment {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 10vh;

  .login-container {
    h1 {
      padding: 10px;
      margin-left: 10px;
    }

    p {
      // padding: 10px;
      margin-left: 20px;
      color: red;
      font-style: italic;
    }
    padding: 20px;

    width: 25vw;
    height: 30vh;
    display: flex;
    // justify-content: center;
    flex-direction: column;

    button {
      padding: 15px;
      margin: 10px;
      border: none;
      border-radius: 18px;
      font-size: 16px;
      font-weight: 600;
      cursor: pointer;
      transition: all ease-in 0.2s;
      text-decoration: none;
      text-align: center;
      background-color: crimson;
      color: white;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
